hrms_utils/rdkit/__pycache__/
hrms_utils/*/__pycache__/
hrms_utils/__pycache__/
./__pycache__
*/__pycache__
hrms_utils/mces/__pycache__/mces.cpython-312.pyc
hrms_utils/FIDDLE
build/
**.pyc
**.so
hrms_utils/formula_annotation/mass_decomposition_impl/sirius_java_impl/
hrms_utils/formula_annotation/mass_decomposition_impl/benchmark_results.txt
hrms_utils/formula_annotation/mass_decomposition_impl/mass_decomposer_cpp.cpp
**.json
**.ipynb
pyscreen_errors_**.txt
# pixi environments
.pixi/*
!.pixi/config.toml
pyscreen_rerun_errors**.txt
error_log.txt
**.csv
hrms_utils/mces/fast_mol_filter/fast_mol_filter/hungarian.cc
hrms_utils/mces/fast_mol_filter/fast_mol_filter/matrix.h
hrms_utils/mces/fast_mol_filter/fast_mol_filter/munkres.h
hrms_utils/mces/fast_mol_filter/fast_mol_filter/matrix.cpp
hrms_utils/mces/fast_mol_filter/fast_mol_filter/munkres.cpp
hrms_utils/mces/fast_mol_filter/fast_mol_filter/calculator.cpp
**.conda
dist/
src/hrms_utils/formula_annotation/mass_decomposition_impl/mass_decomposer_cpp.cpp
src/hrms_utils/formula_annotation/mass_decomposition_impl/**.pyd
!src\hrms_utils\formula_annotation\isotopic_pattern.ipynb
tests/data/250515_006.txt
**.nbi
**.nbc
