**/__pycache__/**
build/
**.pyc
**.so
hrms_utils/formula_annotation/mass_decomposition_impl/mass_decomposer_cpp.cpp
**.json
**.ipynb
pyscreen_errors_**.txt
# pixi environments
.pixi/*
!.pixi/config.toml
pyscreen_rerun_errors**.txt
error_log.txt
**.csv
**.conda
dist/
src/hrms_utils/formula_annotation/mass_decomposition_impl/mass_decomposer_cpp.cpp
src/hrms_utils/formula_annotation/mass_decomposition_impl/**.pyd
!src\hrms_utils\formula_annotation\isotopic_pattern.ipynb
**.nbi
**.nbc
**.parquet
# tests/data/
**.png
target/
vendor/
packages/**/output/
packages/my_plugin/
packages/channel/
packages/temp/
**.tar**
**.lock
packages/mass_decomposition/mass_decomposition/old_cpp_code/
experiments/spectral_information/old/
experiments/spectral_information/EAD_vs_CID_data/
mprofile_**.dat
third_party/
**.log
**.joblib
packages/fast_cosine_sim/src/fast_cosine_sim.egg-info/
