ms_utils/rdkit/__pycache__/
ms_utils/*/__pycache__/
ms_utils/__pycache__/
./__pycache__
*/__pycache__
ms_utils/mces/__pycache__/mces.cpython-312.pyc
ms_utils/FIDDLE
build/
**.pyc
**.so
ms_utils/formula_annotation/mass_decomposition_impl/sirius_java_impl/
ms_utils/formula_annotation/mass_decomposition_impl/benchmark_results.txt
ms_utils/formula_annotation/mass_decomposition_impl/mass_decomposer_cpp.cpp
**.json
**.ipynb
pyscreen_errors_**.txt
# pixi environments
.pixi/*
!.pixi/config.toml
pyscreen_rerun_errors**.txt
error_log.txt
